.footer {
    background-color: @PrimaryColor;
    padding: 3.5%;
}
.SocialMedia {
    font-family: @FontText2;
    font-weight: bold;
    font-size: 24px;
    color: @TextColor1;   
}
.CopyRights {
    font-family: @FontText2;
    font-size: 18px;
    font-style: italic;
    color: @TextColor2;
}