.Top {
    background-color: @PrimaryColor;
    padding: 6%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    height: 80vh;
}
.TopContainer {
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.button2 {
    padding: 20px;
}
.Title {
    font-family: @FontText1;
    font-size: 45px;
    color: @TextColor1;
    margin-bottom: 4%;
}
.Content {
    font-family: @FontText2;
    font-weight: 600;
    font-size: 24px;
    color: @TextColor1;
    padding: 2%;
}
.bt2 {
    background-color: @SecondaryColor;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
}
.GrubOn {
    margin-right: 3%;
    font-family: @FontText1;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.Middle {
    padding: 2%;
    text-align: center;
}
.features {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.coolTool {
    display: flex;
    flex-direction: column;
    font-family: @FontText2;
    font-weight: 600;
    font-size: 24px;
    color: @TextColor1;
    padding: 3%
}
.coolTool1 {
    margin: 7%;
}
.TitleBox {
    display: flex;
    justify-content: center;
}
.largeImgContainer {
    margin-left: 20%;
}
@media @mobile {
    .Top {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        margin: 0;
        padding: 0;
    }
    .SmallImg {
        display: none;
    }
    .LargeImg{
        display: none;
    }
    .largeImgContainer {
        margin-right: 20%;
    }
    .bt {
        .buttons(90%, 5%);        
    }
    .bt2 {
        .buttons(90%, 5%);        
    }

}
@media @tablet {
    .Top {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        align-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .SmallImg {
        display: none;
    }
    .LargeImg{
        width: 80%;
        height: 40vh;
    }
    .largeImgContainer {
        margin-right: 20%;
    }
}
@media (max-width: 1600px) {
    .Top {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        align-content: center;
        margin: 0;
        padding: 0;
    }
    .SmallImg {
        display: none;
    }
    .largeImgContainer {
        margin-right: 20%;
    }
}